<p id="notice"><%= notice %></p>

<p>
  <b>Nama:</b>
  <%= @menu.nama %>
</p>

<p>
  <b>Jenis:</b>
  <%= @menu.jenis %>
</p>

<p>
  <b>Stock:</b>
  <%= @menu.stock %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
