<li class="<%= nav_active_class(root_path) %>"><a href=<%= root_path %>><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li class="<%= nav_active_class(galleries_path) %>"><a href=<%= galleries_path %>><span class="glyphicon glyphicon-cutlery"></span> Gallery</a></li>
<li class="<%= nav_active_class(about_path) %>"><a href=<%= about_path %>><span class="glyphicon glyphicon-user"></span> About</a></li>
<li class="<%= nav_active_class(contact_path) %>"><a href=<%= contact_path %>><span class="glyphicon glyphicon-book"></span> Contact Us</a></li>